<nav class="sidebar-container">
        <div class="logo">
            <div class="log">
                <h1>S.</h1>    
            </div>
            <div class="nav-1">
                <ul>
                  <a href="/" class="A-t">
                    <li class="ill-1">
                      <span class="color-b <%= 'color-v' if request.original_fullpath == '/'%>"><i class="bi bi-house-door-fill "></i></span>
                      <span class="lli-1 <%= 'color-r' if request.original_fullpath == '/'%>">HOME</span>
                    </li>
                  </a>
                <a href="/post?type=designing" class="A-t">
                  <li class="ill-1">
                      <span class="color-b <%= 'color-v' if request.original_fullpath == '/post?type=designing'%>"><i class="bi bi-palette-fill"></i></span>
                      <span class="lli-1  <%= 'color-r' if request.original_fullpath == '/post?type=designing'%>">DESIGNING</span>
                      </li>
                </a>
                <a href="/post?type=development" class="A-t">
                  <li class="ill-1">
                    <span class="color-b <%= 'color-v' if request.original_fullpath == '/post?type=development'%>"><i class="bi bi-snow2"></i></span>
                    <span class="lli-1 <%= 'color-r' if request.original_fullpath == '/post?type=development'%>">DEVELOPMENT</span>
                  </li>
                </a>
                <a href="/post?type=mobile" class="A-t">
                  <li class="ill-1">
                    <span class="color-b <%= 'color-v' if request.original_fullpath == '/post?type=mobile'%>"><i class="bi bi-phone-fill"></i></span>
                    <span class="lli-1 <%= 'color-r' if request.original_fullpath == '/post?type=mobile'%>">MOBILE</span>
                  </li>
                </a>
                <a href="/marketing" class="A-t">
                  <li class="ill-1">
                    <span class="color-b <%= 'color-v' if request.original_fullpath == '/marketing'%>"><i class="bi bi-chat-dots-fill"></i></span>
                    <span class="lli-1 <%= 'color-r' if request.original_fullpath == '/marketing'%>">MARKETING</span>
                  </li>
                </a>
                <a href="/enquiries/new" class="A-t">
                  <li class="ill-1">
                    <span class="color-b <%= 'color-v' if request.original_fullpath == '/enquiries/new'%>"><i class="bi bi-person-rolodex"></i></span>
                    <span class="lli-1 <%= 'color-r' if request.original_fullpath == '/enquiries/new'%>">CONTACT</span>
                  </li>
                </a>
                </ul>
            </div>
        </div>
    </nav>



<div class="show-1">
    <nav class="navbar navbar-expand-lg color">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AGENCY</a>
      <button class="navbar-toggler color-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/post?type=designing">Designing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post?type=development">Development</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/post?type=mobile">Mobile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/marketing">Marketing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/enquiries/new">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </div>